.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box;
}
  
.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent;
}
  
.half-circle-spinner .circle.circle-1 {
  border-top-color: var(--yellow);
  animation: half-circle-spinner-animation 1s infinite;
}
  
.half-circle-spinner .circle.circle-2 {
  border-bottom-color: var(--yellow);
  animation: half-circle-spinner-animation 1s infinite alternate;
}

.half-circle-spinner.light .circle.circle-1{
  border-top-color: var(--light-accent);
}
.half-circle-spinner.light .circle.circle-2{
  border-bottom-color: var(--light-accent);
}
  
@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  